
<html>
<head>
	<style type="text/css">
	
	body {background-color: rgb(255, 255, 255);}

	/* Set the size of the div element*/
	#map {
		width: 100%;
		height: 100%;
	}
	</style>
</head>

<body>

	<!--The dic element for the map-->
	<div id="map"></div>
	<script>
		(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
		  key: 'AIzaSyA-gA_urq6wnjISp4aHa2IOhHJTu1my-EM',
		  v: "weekly",
		});
	</script>
	<script>
		async function initMap() {
			const { Map } = await google.maps.importLibrary("maps");
			map = new google.maps.Map(document.getElementById("map"), {
				center: {lat: 33.753746, lng: -84.386330},
				zoom: 11,
				mapTypeId: 'hybrid',
				mapId: "2ed5bc239efaab65",
			});
			findPlaces();
		}

		async function findPlaces() {
			const { Place } = await google.maps.importLibrary("places");
			const { AdvancedMarkerElement } = await google.maps.importLibrary("marker");
			const request = {
				textQuery: "restaurant",
				fields: ["displayName", "location", "businessStatus", "formattedAddress", "reviews", "types", "rating", "id"],
				includedType: "restaurant",
				locationBias: {lat: 33.753746, lng: -84.386330},
				language: "en-US",
				maxResultCount: 200,
				minRating: 0,
				region: "us",
				useStrictTypeFiltering: false,
			};
			//@ts-ignore
			const { places } = await Place.searchByText(request);

			if (places.length) {
				console.log(places);

				const { LatLngBounds } = await google.maps.importLibrary("core");
				const bounds = new LatLngBounds();
				
				// Loop through and get all the results.
				places.forEach((place) => {

				// If there are any reviews display the first one.
				if (place.reviews && place.reviews.length > 0) {
				// Get info for the first review.
				let reviewRating = place.reviews[0].rating;
				let reviewText = place.reviews[0].text;
				let authorName = place.reviews[0].authorAttribution.displayName;
				let authorUri = place.reviews[0].authorAttribution.uri;

				// Format the review using HTML.
				contentString = `
						<div id="title"><b>${place.displayName}</b></div>
						<div id="address">${place.formattedAddress}</div>
						<div id="cuisine">${place.types[0]}</div>
						<div id="rating">${place.rating} stars</div>
						<div id="title"><p><b>Reviews: </b></p></div>
						<hr>
						<div id="review">${reviewText}</div>
						<a href="${authorUri}" target="_blank">Author: ${authorName}</a>
						<div id="rating">Rating: ${reviewRating} stars</div>
                        <a href="/restaurant_detail/${place.id}">View Details</a>`;
				} else {
				contentString = "No reviews were found for " + place.displayName + ".";
				}
				const infowindow = new google.maps.InfoWindow({
					content: contentString,
					ariaLabel: place.displayName,
				});
				const markerView = new AdvancedMarkerElement({
					map,
					position: place.location,
					title: place.displayName,
					//content: pin.element,
					gmpClickable: true,
				});

				// Add a click listener for each marker, and set up the info window.
				markerView.addListener("click", () => {
					infowindow.open({
					anchor: markerView,
					map,
					});
				});

				bounds.extend(place.location);
				console.log(place);
				});
				map.fitBounds(bounds);
			} else {
				console.log("No results");
			}
			}

			initMap();
	</script>
</body>

</html>



