
<html>
<head>
	<style type="text/css">
	
	body {background-color: rgb(20, 27, 116);}

	/* Set the size of the div element*/
	#map {
		height: 700px;
		width: 100%;
	
	}
	
	h2 {
		color: #f1efe5
	}
	</style>
</head>

<body>
	<h2>
		Explore Atlanta Restaurants 
	</h2>
	
	<!--The dic element for the map-->
	<div id="map"></div>
	
	<!--Add a script by google-->
	<script async
    src="https://maps.googleapis.com/maps/api/js?key=
	{{key}}
	&loading=async&callback=initMap&v=weekly&libraries=marker">
	</script>
	<script>
		async function initMap() {
			const { Map } = await google.maps.importLibrary("maps");
  			const { AdvancedMarkerElement } = await google.maps.importLibrary("marker");
			const map = new google.maps.Map(document.getElementById("map"), {
				center: {lat: 33.753746, lng: -84.386330},
				zoom: 11,
				mapTypeId: 'hybrid',
				mapId: "2ed5bc239efaab65",
			});
			const marker = new AdvancedMarkerElement({
				map,
				position: { lat: 33.77895643902245, lng: -84.38905161286982 },
			});
		}
	</script>
</body>

</html>



