body {
    background: white url("images/atlanta.jpeg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* For the left half background image */
.left-half {
    background-image: url("images/atlanta.jpeg"); /* Your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 50%;
    float: left;
}

/* For the right half content */
.right-half {
    width: 55%;
    float: right;
    height: 100vh;
    overflow-y: auto;  /* Allow scrolling for long content */
}
